@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKhdHeEA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFscQ.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 14px;
}
.transition {
  transition: 0.2s all ease-in;
}
._10 {
  width: 10%;
}
._20 {
  width: 20%;
}
._30 {
  width: 30%;
}
._40 {
  width: 40%;
}
._50 {
  width: 50%;
}
._60 {
  width: 60%;
}
._70 {
  width: 70%;
}
._80 {
  width: 80%;
}
._90 {
  width: 90%;
}
._100 {
  width: 100%;
}
.mt {
  margin-top: 10px;
}
.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}
.mr {
  margin-right: 10px;
}
.ma {
  margin: 10px;
}
.pt {
  padding-top: 10px;
}
.pb {
  padding-bottom: 10px;
}
.pl {
  padding-left: 10px;
}
.pr {
  padding-right: 10px;
}
.pa {
  padding: 10px;
}
.break {
  width: 100%;
  display: block;
  height: 0px;
  flex-basis: 100%;
}
.shrink {
  flex-shrink: 1;
}
.grow {
  flex-grow: 1;
}
.button {
  display: inline-flex;
  padding: 10px 20px;
  cursor: pointer;
}
.button.delete {
  background: #DA3446;
  color: #FFFFFF;
}
.button.delete:hover {
  background: #cf2638;
}
.button.save,
.button.submit {
  background: #1DB959;
  color: #FFFFFF;
}
.button.save:hover,
.button.submit:hover {
  background: #1aa34e;
}
.button.subtle {
  background: #F7F8FA;
  color: #FFFFFF;
  color: #011637;
}
.button.subtle:hover {
  background: #e7eaf0;
}
body.dark-mode .button.subtle {
  background: #282934;
  color: #FFFFFF;
}
body.dark-mode .button.subtle:hover {
  background: #1d1e26;
}
body {
  font-family: 'IBM Plex Sans', 'Arial', sans-serif;
  color: #061861;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  padding: 40px;
  text-align: center;
}
header .logo {
  width: 300px;
}
.container {
  padding: 40px;
  text-align: center;
}
.button {
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: #2A5FFC;
  color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s all ease-in;
}
.button:hover {
  background: #114cfc;
}
